
/* #############   Css reset starts here   ############## */

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  /* #############   Css reset ends here   ############## */


  /* #############   General CSS starts here   ############## */

  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;500;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

  :root{
    --body-color: #f3eae3;
    --secondary-font: 'Fraunces', serif;
    --primary-font: 'Montserrat', sans-serif;

  }

  body{
    display: grid;
    min-height: 100vh;
    place-content: center;
    margin: 1rem;
    background-color: hsl(30, 38%, 92%);
  }

  .product{
    border-radius: 12px;
    overflow: hidden;
}
.product__details{
    padding: 1.5rem 1rem;
    background-color: #ffffff;
}

.product__category{
    font-size: .8125rem;
    color: hsla(228, 12%, 48%,90%);
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.product__title{
    font-size: 2.5rem;
    line-height: 2.75rem;
    color: hsla(212, 21%, 14%,90%);
    font-family: var(--secondary-font);
    font-weight: 700;
    margin-bottom: 10px;
}

.product__description{
    font-size: 1rem;
    color: hsla(228, 12%, 48%,90%);
    margin-bottom: 10px;
}

.flex-group{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-bottom: 10px;
}

.product__price{
    font-size: 2.5rem;
    color: hsl(158, 36%, 37%);
    font-family: var(--secondary-font);
    font-weight: 700;
    margin-right: 15px;
}

.product__original-price{
    font-size: 1rem;
    text-decoration: line-through;
    color: hsla(228, 12%, 48%,90%);
    font-family: var(--secondary-font);
    font-weight: 700;
}

.button{
    border: none;
    cursor: pointer;
    width: 100%;
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;
    margin: auto;
    font-size: 1rem;
    font-weight: 500;
    background-color: hsl(158, 36%, 37%);
    color: #ffffff;
    display: inline-block;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 10px;
    border-radius: 10px
}

.button:hover{
    background-color: #1a4131;
}

  @media (min-width:600px){
    .product{
        width: 600px;
        max-height: 450px;
        display: flex;
        flex-direction: row;
    }

    .product__img{
        width: 50%;
    }

    .product__details{
        width: 50%;
    }
  }
